<!DOCTYPE html>
<html>
<head>
	<meta content="text/html;charset=UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta http-equiv ="Pragma" content = "no-cache"/>
	<meta http-equiv="Cache-Control" content="no cache" />
	<meta http-equiv="Expires" content="0" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="format-detection" content="telephone=no"/>
	<script src="https://cdn.bootcss.com/pace/1.0.2/pace.min.js"></script>
	<link href="https://cdn.bootcss.com/pace/1.0.2/themes/pink/pace-theme-flash.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../plugins/layui/css/layui.css" media="all"/>
	<link rel="stylesheet" type="text/css" href="../../css/fs.css" media="all"/>
	<script type="text/javascript" src="../../plugins/layui/layui.js"></script>
	<script type="text/javascript" src="../../plugins/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="../../plugins/frame/js/fs.js?v=1.5.0"></script>
	<script type="text/javascript" src="../../plugins/frame/js/frame.js?v=1.5.0"></script>
</head>
<body>
	<div class="layui-fluid">

	<form class="layui-form">
  <div class="layui-form-item">
    <label class="layui-form-label">中文名称：</label>
    <div class="layui-input-block">
      <input type="text" name="menuName" required=""  lay-verify="required" placeholder="请输入菜单中文名称" autocomplete="off" class="layui-input"/>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">访问地址：</label>
    <div class="layui-input-block">
      <input type="text" name="linkUrl" required=""  lay-verify="" placeholder="请输入访问地址" autocomplete="off" class="layui-input"/>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">父菜单：</label>
    <div class="layui-input-inline">
     <input type="text" name="parentId" required=""  placeholder="" autocomplete="off" class="layui-input" disabled=""/>
    </div>
    <label class="layui-form-label">图标：</label>
    <div class="layui-input-inline">
    	 <input type="text" name="logoUrl" required=""  placeholder="" autocomplete="off" class="layui-input"/>
    </div>
  </div>
  <div class="layui-form-item">
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">状态：</label>
    <div class="layui-input-block">
      <input type="radio" name="state" value="1" title="有效" checked=""/>
      <input type="radio" name="state" value="0" title="无效"/>
    </div>
  </div>
  <div class="layui-form-item layui-form-text">
    <label class="layui-form-label">描述：</label>
    <div class="layui-input-block">
      <textarea name="description" placeholder="请输入描述" class="layui-textarea"></textarea>
    </div>
  </div>
  <hr/>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit="" lay-filter="submit" url="/fsbus/DEMO1021">新增</button>
      <button type="button" class="layui-btn layui-btn-primary" function="close">关闭</button>
    </div>
  </div>
</form>

	</div>
</body>
</html>
