<!DOCTYPE html>
<html>
<head>
	<meta content="text/html;charset=UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta http-equiv ="Pragma" content = "no-cache"/>
	<meta http-equiv="Cache-Control" content="no cache" />
	<meta http-equiv="Expires" content="0" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="format-detection" content="telephone=no"/>
	<script src="https://cdn.bootcss.com/pace/1.0.2/pace.min.js"></script>
	<link href="https://cdn.bootcss.com/pace/1.0.2/themes/pink/pace-theme-flash.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../plugins/layui/css/layui.css" media="all"/>
	<link rel="stylesheet" type="text/css" href="../../css/fs.css" media="all"/>
	<script type="text/javascript" src="../../plugins/layui/layui.js"></script>
	<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<script type="text/javascript" src="../../plugins/jquery/jquery.min.js"></script>
	<link href="../../plugins/contextMenu/jquery.contextMenu.min.css" rel="stylesheet">
	<script src="../../plugins/contextMenu/jquery.contextMenu.min.js"></script>
	<link rel="stylesheet" href="../../plugins/ztree/css/zTreeStyle/zTreeStyle.css" type="text/css"/>
	<script type="text/javascript" src="../../plugins/ztree/js/jquery.ztree.all.min.js"></script>
	<script type="text/javascript" src="../../plugins/frame/js/fs.js?v=1.7.0"></script>
	<script type="text/javascript" src="../../plugins/frame/js/frame.js?v=1.7.0"></script>
</head>
<body>
  <div class="layui-fluid">
  <div class="layui-row layui-col-space10">
    <div class="layui-col-md3">
		<fieldset class="layui-elem-field">
         <legend>菜单管理</legend>
         <div class="layui-field-box">
         	<div class="layui-row layui-col-space10">
         		<div class="layui-col-md12">
         			<ul id="treeDemo" class="ztree fsTree" method="get" isRoot="1" url="/fsbus/DEMO1019" clickCallbackId="fsDatagrid" clickCallbackInputs="menuId:$id" treeIdKey="id" treePIdKey="pId" treeName="name" ></ul>

         			<div class="fsTreeRightMenu">
         				<p function="refresh" icon="refresh" name="刷新"></p>
         				<p function="top" icon="add" name="新增" fs:authorize="" topUrl="views/treeDatagrid/add.html" topWidth="700px" topHeight="460px" topTitle="新增菜单信息" inputs="parentId:$id"></p>
         				<p function="top" icon="edit" name="编辑" fs:authorize="" topUrl="views/treeDatagrid/edit.html" topWidth="700px" topHeight="460px" topTitle="编辑菜单信息" inputs="menuId:$id" disabledType="rootNode"></p>
         				<p function="submit" icon="del" name="删除" fs:authorize="" method="get"  url="/fsbus/DEMO1023" isConfirm="1" confirmMsg="是否确定删除？" inputs="menuId:$id" disabledType="parent|rootNode"></p>
         			</div>
         		</div>
         	</div>
		  </div>
		  </fieldset>
    </div>

    <div class="layui-col-md9">
		<fieldset id="menu_func_div" class="layui-elem-field">
	         <legend>功能列表</legend>
	         <div class="layui-field-box">
	         	<div class="layui-col-md12 layui-col-space1">
			    	<div id="table_buttion_div">
			    		<form id="query_form" style="display: none;">
			    			<input type="text" id="menuId" name="menuId" value="0"/>
			    		</form>
				    	<button class="layui-btn layui-btn-sm" function="top" topUrl="views/treeDatagrid/addFunc.html" selectTreeId="menuId" topWidth="700px" topHeight="350px" topTitle="新增功能号信息" inputs="menuId:#menuId">
						  <i class="layui-icon">&#xe654;</i>新增
						</button>
						<button class="layui-btn layui-btn-sm" function="refresh" selectTreeId="menuId">
						  <i class="layui-icon">&#x1002;</i>刷新
						</button>
			    	</div>
			    </div>
			    <div class="layui-col-md12 layui-col-space1">
					<table id="fsDatagrid" class="fsDatagrid" lay-filter="fsDatagrid" url="/fsbus/DEMO1024" isLoad="0" isPage="0" defaultForm="query_form" height="full-130">
					</table>

					<div class="fsDatagridCols">
						<p type="numbers" title="#"/>
						<p checkbox="true"/>
					    <p field="name" title="名称" width="200" sort="true"/>
					    <p field="linkUrl" title="访问地址" width="300"/>
					    <p field="funcs" title="功能号" width="200"/>
					    <p fixed="right" align="center" toolbar="#barDemo" title="操作" width="150"/>
					</div>

					<script type="text/html" id="barDemo">
						 <a id="edit" class="layui-btn layui-btn-xs" lay-event="top" topUrl="views/treeDatagrid/editFunc.html" topWidth="700px" topHeight="350px" isSelect="1" topTitle="编辑功能号信息" inputs="id:">编辑</a>
  						 <a id="del" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="submit" isConfirm="1" url="/fsbus/DEMO1028" inputs="id:">删除</a>
					</script>
			    </div>
			  </div>
		</fieldset>
    </div>
  </div>
</div>


  </div>
</body>
</html>
